.header {
  background: linear-gradient(to right, #00ffcc, #0066ff);
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.header h1 {
  font-size: 40px;
}

.header p {
  font-size: 18px;
}
