.card-img-wrapper {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #f8fafc;
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
}

.product-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 1rem;
}

.product-title {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.4;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 3rem;
  /* Limit title height */
}

.product-price {
  color: var(--primary-color);
  font-weight: 700;
}

.qty-control {
  border: 1px solid #e2e8f0;
}